<link rel="canonical" href="https://imdanwalton.com/" />
<title>Daniel Walton - Designer and Co-founder</title>

<!-- Google Webmaster Verification -->
<meta name="google-site-verification" content="dxTlMhkWh7JUvhu9FPLcgObKlOaVMrtlspdL_acvztQ" />
<meta name="google-site-verification" content="p00cCcM_C9XiIj89qnt-cZjl1CAPt3_1TkV4d0ft5I4" />
<meta name="google-site-verification" content="h1ofkwmlULbhXuVrJ3murk7VimRX0VAA21aUfedF_Jk" />
<meta name="google-site-verification" content="NjpO-TYFzUBG4iVDAAbIxAUsi5Qy2GtiMMfb9I4BgNA" />

<!-- Meta Tags -->
<meta name="title" content="Daniel Walton - Designer and Co-founder" />
<meta name="description" content="Daniel is an emerging graphics and software design specialist who's largely self-taught abilities are forming the foundations of an agnostic web developer." />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Schema.org -->
<meta itemprop="name" content="Daniel Walton - Designer and Co-founder">
<meta itemprop="description" content="Daniel is an emerging graphics and software design specialist who's largely self-taught abilities are forming the foundations of an agnostic web developer.">
<meta itemprop="image" content="https://imdanwalton.com/images/avatar-2.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="imdanwalton">
<meta name="twitter:title" content="Daniel Walton - Designer and Co-founder">
<meta name="twitter:description" content="Daniel is an emerging graphics and software design specialist who's largely self-taught abilities are forming the foundations of an agnostic web developer.">
<meta name="twitter:creator" content="imdanwalton">
<meta name="twitter:image:src" content="https://imdanwalton.com/images/avatar-2.png">

<!-- Open Graph data -->
<meta property="og:title" content="Daniel Walton - Designer and Co-founder" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://imdanwalton.com/" />
<meta property="og:image" content="https://imdanwalton.com/images/avatar-2.png" />
<meta property="og:description" content="Daniel is an emerging graphics and software design specialist who's largely self-taught abilities are forming the foundations of an agnostic web developer." />
<meta property="og:site_name" content="Daniel Walton" />
<meta property="article:published_time" content="{{timePublished}}" />
<meta property="article:modified_time" content="{{timeModified}}" />
<meta property="article:section" content="About Daniel" />
<meta property="article:tag" content="Design,CoFounder,Developer, Startup" />
<meta property="fb:admins" content="imdanwalton" />
<meta property="fb:app_id" content="100000467720181" />

<!-- Google Structured data -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Daniel Walton",
  "image" : [
    "https://imdanwalton.com/images/avatar-2.png"
    ],
  "description": "Daniel is an emerging graphics and software design specialist who's largely self-taught abilities are forming the foundations of an agnostic web developer.",
  "copyrightHolder": "Daniel Walton",
  "copyrightYear": "2018",
  "alternateName": "Dan Walton",
  "url": "https://imdanwalton.com/",
  "sameAs": [
    "https://twitter.com/imdanwalton",
    "https://www.facebook.com/imdanwalton/",
    "https://www.linkedin.com/in/imdanwalton/",
    "https://plus.google.com/u/0/113392483006225613222",
    "https://www.instagram.com/imdanwalton/",
    "https://www.pinterest.com/imdanwalton/",
    "https://www.f6s.com/danielwalton",
    "https://www.crunchbase.com/person/daniel-walton",
    "https://gust.com/user/4e6ec148-8ec6-4e75-acdd-d8d2a8d304e3",
    "https://disqus.com/by/imdanwalton/",
    "https://medium.com/@imdanwalton",
    "https://codepen.io/imdanwalton/",
    "https://github.com/imdanwalton",
    "https://klout.com/imdanwalton",
    "https://news.ycombinator.com/user?id=imdanwalton",
    "https://vimeo.com/https://vimeo.com/imdanwalton",
    "https://angel.co/danielwalton",
    "https://app.dealroom.co/people/daniel_walton"
    ]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "Daniel Walton",
  "image" : [
    "https://imdanwalton.com/images/avatar-2.png"
    ],
  "description": "Daniel is an emerging graphics and software design specialist who's largely self-taught abilities are forming the foundations of an agnostic web developer.",
  "publisher": {
      "@type": "Person",
      "name": "Daniel Walton"
  }
}
</script>
